<h1>Edit Api currency</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.api_currency_path(@conn, :update, @api_currency)) %>

<span><%= link "Back", to: Routes.api_currency_path(@conn, :index) %></span>
