<h1>New Api currency</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.api_currency_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.api_currency_path(@conn, :index) %></span>
